@import "variables";



*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:safe center;
    font-family:$lexendDecaFont;
    background-color:$othersColor;

    .wrapper{
        width:90%;
        max-width:1100px;
        border-radius:10px;
        color:$paragraphColor;
   
        h2{
            font-family:$bigShoulderFont;
            font-size:2rem;
            font-weight:700;
            color:$othersColor;
        }

    }
    .card{
        padding:2.5rem;
        *{
            margin-bottom:1.75rem;
        }
    }
    .btn{
        display:block;
        max-width:180px;
        min-width:120px;
        text-decoration:none;
        text-align:center;
        padding:1rem 2rem;
        border-radius:3rem;
        background-color:#fff;
        transition:1s linear;
    }
    .sedans{
        background-color:$brightOrange;
        border-top-left-radius:10px ;
        border-top-right-radius:10px ;
        .btn{
            color:$brightOrange;
            &:hover{
                background-color:$brightOrange;
                color:#fff;
                border:2px solid #fff;
            }
        }
    
        
    }
    
    .suvs{
        background-color:$darkCyan;
        .btn{
            color:$darkCyan;
        }
        
    }
    .lux{
        background-color:$veryDarkCyan;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        .btn{
            color:$veryDarkCyan;
        }
        
    }

}

@media screen and(min-width:700px){
    .wrapper{
        display:flex;
    }
    .card{
        flex:1 1 0;
    }
    .sedans{
        border-top-right-radius:0 !important;
        border-bottom-left-radius:10px;
    }
    .lux{
        border-bottom-left-radius:0 !important;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}
