$brightOrange:hsl(31, 77%, 52%);
$darkCyan:hsl(184, 100%, 22%);
$veryDarkCyan:hsl(179, 100%, 13%);
$paragraphColor:hsla(0, 0%, 100%, 0.75);
$othersColor:hsl(0, 0%, 95%);
$bodyFontSize:15px;
$bigShoulderFont:'Big Shoulders Display', cursive;
$lexendDecaFont:'Lexend Deca', sans-serif;